// Layout variables
$max-width: 1280px !default;

// Colors
$color-primary: darken(#2da4c4, 30%) !default;
$color-secondary: #777 !default;
$color-button: #2da4c4 !default;
$color-button-secondary: #ff5f5f !default;

// Button colors
$button-color: #9ac0bb !default;
$button-color-disabled: #c5c5c5 !default;

// Breakpoints
@mixin mobile {
  @media only screen and (max-width: 600px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 600px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}