.button {
  color: #fff;
  background: $color-button;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .5em;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: $color-primary;
  }
  &--back {
    padding: 1em 0;
    color: $color-button;
    background: none;
    &:before {
      margin-right: 10px;
    }
    &:hover {
      background: none;
      color: $color-primary;
    }
  }
  &--alt {
    background: none;
    color: $color-primary;
    border: solid 1px;
    &:hover {
      color: #fff;
    }
  }
  &--reset {
    background-color: $color-button-secondary;
  }
}
